<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="trickysky">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>田琨的个人简介</title>
    <link href="lib/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link href="images/tiankun.jpg" rel="shortcut icon" type="image/x-icon" />
</head>

<body data-spy="scroll" data-target="#navbar-example">
    <div id="top" class="jumbotron" data-position="center right" style="height: 696px;">
        <div class="container">
            <h1>田&nbsp;琨</h1>
            <p>个人简介</p>
        </div>
        <div class="overlay"></div>
        <a href="#profile" class="scroll-down">
            <span class="glyphicon"><i class="fa fa-angle-double-down"></i></span>
        </a>
    </div>
    <nav class="navbar navbar-default" id="navbar-example" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#profile">个人简介</a></li>
                <li><a href="#experiences">个人经历</a></li>
                <li><a href="#science">研究成果</a></li>
                <li><a href="#abilities">个人能力</a></li>
                <li><a href="#honor">荣誉奖项</a></li>
                <li><a href="#contact">联系方式</a></li>
                <li><a href="" data-toggle="modal" data-target="#pdf-modal">简历</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div class="background-white">

        <div id="pdf-modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                        <h4 class="modal-title">简历预览</h4>
                    </div>
                    <div id="my-pdf" class="modal-body"></div>
                    <div class="modal-footer">
                        <!--<form method="get" action="/doc/resume.pdf">-->
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-info" onclick="window.open('/doc/resume.pdf')">全屏显示</button>
                            <button type="button" class="btn btn-primary"><a href="/doc/resume.pdf" download="田琨的简历">下载</a></button>
                        <!--</form>-->
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="profile" class="container">
            <h2>个人简介</h2>
            <hr>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1 text-center">
                    <img src="/images/tiankun.jpg" class="img-responsive center-block" alt="Responsive image">
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <p class="text-muted"><span class="field">姓名: </span>田琨</p>
                    <p class="text-muted"><span class="field">年龄: </span>24岁</p>
                    <p class="text-muted"><span class="field">学校: </span>清华大学</p>
                    <p class="text-muted"><span class="field">年级: </span>硕士三年级</p>
                    <p class="text-muted"><span class="field">专业: </span>地理信息系统 GIS</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 description">
                    <p class="text-muted">我是田琨, 在魔都出生成长, 在帝都学习工作, 既有南方人细腻的性格, 也有北方人豪爽的一面</p>
                    <p class="text-muted">喜欢追寻新鲜事物, 总觉得有些东西什么时候做都不晚, 可是有些事情, 错过了就是错过了, 意味着没有时间也没有机会去体验一把了</p>
                    <p class="text-muted">擅长网络爬虫, 大网站基本都爬了一遍, 三台云服务器24小时不间断抓取数据, 手上的数据多到来不及处理(十几亿吧)</p>
                    <p class="text-muted">无聊时经常逛知乎、CodePen、FlowingData, 偶尔也会刷刷Hackerrank和LeetCode</p>
                    <p class="text-muted">喜欢打网球、看电影、追新番补旧番、打刀塔2</p>
                    <p class="text-muted">敲代码时一定要戴耳机用机械键盘, 持有四个耳机: Sennheiser MOMENTUM 2(classic)、Sony MDR-1ADAC(pop)、AKG K271 MKII(game)、Skullcandy Aviator(spare); 持有三把机械键盘: Filco minila air红轴(coding)、Filco minila air青轴(coding)和Ducky2108s黑轴(game)</p>
                    <p class="text-muted">在年轻的时候多努力, 是为了让自己将来有更多选择的自由, 有更大的能力来掌握自己的命运, 在社会的洪流中保有自己最本真的那一部分, 而不是活的被动难堪</p>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="background-light">
        <div id="experiences" class="container">
            <h2>个人经历</h2>
            <hr>
            <h3>教育经历</h3>
            <div class="experiences">
                <div class="experience row">
                    <div class="col-md-4">
                        <h4>清华大学</h4>
                        <p class="experience-period"> 2014年9月 - 至今 </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>硕士 - GIS</strong>
                            <span>就读于清华大学土木工程系 - 地球空间信息研究所 - GIS, 师从刘钊副教授, 主要研究方向有: 空间数据挖掘与分析、空间聚类、数据可视化等. 负责清华大学校园GIS平台的研发工作</span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 北京
                            </span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="experience row">
                    <div class="col-md-4">
                        <h4>清华大学</h4>
                        <p class="experience-period"> 2010年9月 - 2014年6月 </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>本科 - 土木工程</strong>
                            <span>就读于清华大学土木工程系结构方向, 学习了理论力学、材料力学、结构力学、弹性力学、土力学、水力学、混凝土原理、钢结构原理、建筑材料、工程项目管理等土木工程基础学科, 能够独立设计简单的砌体结构、钢结构和钢筋混凝土结构建筑</span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 北京
                            </span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="experience row">
                    <div class="col-md-4">
                        <h4>格致中学</h4>
                        <p class="experience-period"> 2007年9月 - 2010年6月 </p>
                    </div>
                    <div class="col-md-8">
                        <p>
                            <strong>高中</strong>
                            <span>就读于上海市格致中学, 在校期间成绩优异, 获得了第二十六届全国中学生物理竞赛上海赛区一等奖, 保送至清华大学</span>
                            <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 上海
                            </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <h3>交流经历</h3>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Université de Genève</h4>
                    <h4>日内瓦大学</h4>
                    <p class="experience-period"> 2016年7月 - 2016年8月 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>交流学习</strong>
                        <span>参加清华大学-瑞士日内瓦大学两校联合“可持续发展与国际组织暑期实习项目”, 加入众筹推动可持续发展与社会创新暑期学习项目, 在联合国等国际组织参访学习, 完成SPACE-M项目</span>
                        <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 瑞士 - 日内瓦
                        </span>
                        </span>
                    </p>
                </div>
            </div>
            <hr>
            <h3>工作经历</h3>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>GeoHey</h4>
                    <p class="experience-period"> 2015年7月 - 至今 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>实习 - 研发工程师</strong>
                        <span>在GeoHey(北京极海纵横信息技术有限公司)实习, 担任主站开发及数据研发工作, 提供业务数据支持, 开发部署自动化网络爬虫, 完成沃尔玛选址分析报告</span>
                        <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 北京
                        </span>
                        <span class="seperator">|</span>
                        <span class="link">
                                    <span class="glyphicon glyphicon-link"></span>
                        <a href="http://geohey.com" target="_blank">http://geohey.com</a>
                        </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>华为北京研究院</h4>
                    <p class="experience-period"> 2016年6月 - 2016年8月 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>实习 - 数据工程师</strong>
                        <span>在华为北京研究所用户验收测试部实习, 负责手机故障数据挖掘的工作</span>
                        <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 北京
                        </span>
                        <span class="seperator">|</span>
                        <span class="link">
                                    <span class="glyphicon glyphicon-link"></span>
                        <a href="http://huawei.com" target="_blank">http://huawei.com</a>
                        </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>UNEP 联合国环境规划署</h4>
                    <p class="experience-period"> 2016年7月 五周</p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>实习 - 平台研发</strong>
                        <span>在瑞士日内瓦大学访问学习一周, 深入了解各个联合国组织的职能, 随后加入UNEP的Map-X项目团队, 利用UNITAR的GeoTag-X项目, 开发"灾后建筑受损评估及救援指导平台", 得到UNEP、UNITAR和日内瓦大学的负责人一致认可</span>
                        <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 瑞士 - 日内瓦
                        </span>
                        <span class="seperator">|</span>
                        <span class="link">
                                    <span class="glyphicon glyphicon-link"></span>
                        <a href="http://m.tiankun.me:8080/geneva_musketeers/interface/mapx/map-x.htm" target="_blank">SPACE-M</a>
                        </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>上海建工设计研究院</h4>
                    <p class="experience-period"> 2013年8月 - 2013年9月 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>实习 - 结构工程师</strong>
                        <span>在上海建工设计研究院实习, 担任结构工程师, 完成桩基计算与设计、结构初扩设计、施工图出图等工作, 熟练掌握AutoCAD、PKPM等工程软件</span>
                        <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 上海
                        </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>碧桂园</h4>
                    <p class="experience-period"> 2013年6月 - 2013年8月 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>实习 - 项目部</strong>
                        <span>在碧桂园如东项目部实习, 担任项目部施工监理, 掌握项目中甲方和乙方的工作职责及工作流程</span>
                        <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 江苏 - 南通
                        </span>
                        </span>
                    </p>
                </div>
            </div>
            <hr>
            <h3>社会经历</h3>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>关爱生命志愿者</h4>
                    <p class="experience-period"> 2011年6月 - 2011年8月 </p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>支教</strong>
                        <span>作为中华关爱生命事业联合会的关爱生命志愿者, 前往湖南省岳阳市贺畈乡地区进行支教活动, 指导当地中小学儿童日常课程学习</span>
                        <span class="experience-details">
                                <span class="location">
                                    <span class="glyphicon glyphicon-map-marker"></span> 湖南 - 岳阳 - 贺畈
                        </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="background-white">
        <div id="science" class="container">
            <h2>研究成果</h2>
            <hr>
            <h3>论文发表</h3>

            <div class="row year">
                <div class="col-md-2">
                    <span class="article-time">2016年</span>
                </div>
                <div class="col-md-10">
                    <div class="article">
                        <span class="article-name"> Characterizing traffic conditions from the perspective of spatial-temporal heterogeneity </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <a class="article-periodical" href="http://www.escience.cn/system/download/78141" target="_blank"> ISPRS International Journal of Geo-Information, 2016, 5(3): 34. </a>
                    </div>
                    <div class="article">
                        <span class="article-name"> A comparative study of geographical information services in public and private clouds </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <a class="article-periodical" href="http://www.escience.cn/system/download/80352" target="_blank"> Asian Journal of Geoinformatics, 2016, 16(1): 17-24. </a>
                    </div>
                </div>
            </div>

            <div class="row year">
                <div class="col-md-2">
                    <span class="article-time">2015年</span>
                </div>
                <div class="col-md-10">
                    <div class="article">
                        <span class="article-name"> CRG-index: A More Sensitive Ht-index for Enabling Dynamic Views of Geographic Features </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <a class="article-periodical" href="http://www.tandfonline.com/doi/abs/10.1080/00330124.2015.1099448?journalCode=rtpg20" target="_blank"> The Professional Geographer , Volume 68, Issue 2, 2016. </a>
                    </div>
                    <div class="article">
                        <span class="article-name"> Low-cost cloud computing solution for geo-information processing </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <span class="article-periodical"> Journal of Central South University , In Press. </span>
                    </div>
                    <div class="article">
                        <span class="article-name"> GIS-based analysis of population exposure to PM2.5 air pollution-A case study of Beijing </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <span class="article-periodical"> Asian Network on Climate Science and Technology , In Press. </span>
                    </div>
                    <div class="article">
                        <span class="article-name"> 断裂点位置对GIS中无拓扑闭曲线简化的影响 </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <a class="article-periodical" href="http://www.cqvip.com/QK/96699X/201502/664324175.html" target="_blank"> 烟台大学学报(自然科学与工程版) , 2015, 28(2): 90-96. </a>
                    </div>
                    <div class="article">
                        <span class="article-name"> Cartogram属性地图: 理论概述与研究展望 </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <a class="article-periodical" href="http://www.escience.cn/system/download/82195" target="_blank"> 测绘与空间地理信息, 2016, 39(6): 211-215. </a>
                    </div>
                    <div class="article">
                        <span class="article-name"> 基于主动式位置服务的旅游应用新模式 </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <a class="article-periodical" href="http://www.escience.cn/system/download/78233" target="_blank"> 测绘通报, 2016, (2). 55-58. </a>
                    </div>
                    <div class="article">
                        <span class="article-name"> 基于微信公众平台及LBS的旅游应用模式探究 </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <span class="article-periodical"> 测绘科学 , 待刊. </span>
                    </div>
                </div>
            </div>
            <div class="row year">
                <div class="col-md-2">
                    <span class="article-time">2014年</span>
                </div>
                <div class="col-md-10">
                    <div class="article">
                        <span class="article-name"> The Development of and Prospects for Private Cloud GIS in China </span>
                        <br/>
                        <i class="fa fa-book article-periodical"></i>
                        <a class="article-periodical" href="http://www.geoinfo.ait.ac.th/ajg/index.php/journal/article/view/188" target="_blank"> Asian Journal of Geoinformatics , 2014, 14(4): 30-38. </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-light">
        <div id="abilities" class="container">
            <h2>个人能力</h2>
            <hr>
            <h3>开发能力</h3>
            <div class="row">
                <div class="col-md-6 ">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">Python</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Scrapy</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">PostgreSQL</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">PostGIS</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">HTML</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Javascript</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">CSS</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Bootstrap</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">jQuery</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">amCharts</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">redis</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Markdown</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">shell</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Java</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">node.js</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Docker</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Apache Tomcat</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Nginx</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <h3>软件能力</h3>
            <div class="row">
                <div class="col-md-6">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">AutoCAD</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">QGIS</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">JetBrains</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Chrome</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Microsoft Office</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">proxy</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">remote desktop</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">ArcGIS</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">MATLAB</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Sublime Text</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">SAP2000</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Adobe PhotoShop</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Adobe Illustrator</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">PKPM</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Microsoft Project</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Axure RP</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <h3>系统能力</h3>
            <div class="row">
                <div class="col-md-6">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">Mac OS</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">CentOS</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Windows</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">IOS</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Android</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Ubuntu</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <h3>其他能力</h3>
            <div class="row">
                <div class="col-md-6">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">Dota</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">电脑硬件维修</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">网球</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">羽毛球</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">手机维修</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="no-bullets">
                        <li>
                            <span class="ability-title">电路板焊接</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">钟表维修</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">Assassin's Creed</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">GTA</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                        <li>
                            <span class="ability-title">2K</span>
                            <span class="ability-score">
                                <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star filled"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="background-white">
        <div id="honor" class="container">
            <h2>荣誉奖项</h2>
            <hr>
            <h3>竞赛奖项</h3>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2016年4月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> “成·就未来”大数据应用创业大赛</span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">一等奖</span>
                </div>
            </div>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2011年12月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> 第28届全国部分地区大学生物理竞赛</span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">二等奖</span>
                </div>
            </div>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2009年10月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> 第二十六届全国中学生物理竞赛(上海赛区)</span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">一等奖</span>
                </div>
            </div>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2009年11月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> 第十五届全国青少年信息学竞赛(上海赛区)</span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">三等奖</span>
                </div>
            </div>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2008年10月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <div>
                        <span class="honor-name"> 第二十五届全国中学生物理竞赛(上海赛区)</span>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">三等奖</span>
                </div>
            </div>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2012年12月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> 清华大学第十八届结构设计大赛 </span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">一等奖</span>
                </div>
            </div>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2011年12月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> 清华大学第十七届结构设计大赛 </span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">二等奖</span>
                </div>
            </div>
            <hr>
            <h3>学业奖学金</h3>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2015年10月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> 清华大学罗建奖学金 </span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">二等奖</span>
                </div>
            </div>
            <div class="row honor-container">
                <div class="col-lg-3">
                    <span class="honor-time">2014年6月</span>
                </div>
                <div class="col-lg-5 col-xs-8">
                    <span class="honor-name"> 清华大学金门奖学金 </span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="honor-level">三等奖</span>
                </div>
            </div>
        </div>
    </div>
    <div class="background-gray">
        <div id="contact" class="container">
            <h2>联系方式</h2>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center-not-lg">
                    <a href="mailto:iam@tiankun.me">
                        <i class="fa fa-2x fa-envelope-o"></i>
                        <span>iam@tiankun.me</span>
                    </a>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center-not-lg">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=769028445&site=qq&menu=yes" target="_blank">
                        <i class="fa fa-2x fa-qq"></i>
                        <span> 769028445</span>
                    </a>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center-not-lg">
                    <a href="tel:15201524516">
                        <i class="fa fa-2x fa-mobile-phone"></i>
                        <span>+86 15201524516</span>
                    </a>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center-not-lg">
                    <a href="http://www.linkedin.com/in/%E7%90%A8-%E7%94%B0-7b1147111" target="_blank">
                        <i class="fa fa-2x fa-linkedin"></i>
                        <span> LinkedIn 主页 </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none">
        <script src="https://s11.cnzz.com/z_stat.php?id=1260727464&web_id=1260727464" language="JavaScript"></script>
    </div>

    <script type="text/javascript" src="signature.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="page_js.js"></script>
    <script src="lib/PDFObject/pdfobject.min.js"></script>
    <script>PDFObject.embed("/doc/resume.pdf", "#my-pdf");</script>
</body>

</html>